<div class="login-page-body">
    <div class="login-form-body">
        <div class="space-between">
            <div class="flex-row space-between">
                <i class="pi pi-sign-in text-primary text-4xl"></i>
                <p-button [text]="true" size="small" (onClick)="signUpMenu()" *ngIf="!cadastro && !forgot"><u>Sing-up</u></p-button>
                <p-button [text]="true" size="small" (onClick)="loginMenu()" *ngIf="!login"><u>Sing-in</u></p-button>
            </div>
            <div>
                <app-login-form *ngIf="login" (userEvent)="loginHandler($event)"/>
                <app-cadastro-form *ngIf="cadastro"/>
                <app-forgot-form *ngIf="forgot"/>
            </div>
            <div class="button-box">
                <p-button *ngIf="!forgot" class= "forgot-button" label="Forgot Password?" [text]="true" size="small" (onClick)="forgotMenu()"></p-button>
            </div>
        </div>
    </div>
    <div class="login-logoplaceholder">
        <p-image class="logo" name="logo" src="assets/logo-invertido.png" width="200" height="100"></p-image>
    </div>
</div>


