.timeline-body{
    margin: 0;
    overflow: auto;
    height: 98%;
}

.icone{
    padding: 3px;
    border-radius: 100vw;
}

.header{
    font-weight: bold;
    font-size: 1.2em;
}

.timeline-mini-body{
    display: flex;
    flex-direction: row;
    height: 50%;
    align-items: center;
}
