<div class="income-body">

    <span class="p-float-label activity-item">
        <p-inputSwitch [(ngModel)]="type"></p-inputSwitch>
        <label>type</label>
    </span>

    <span class="p-float-label activity-item">
        <input [(ngModel)]="description" id="description" pInputText/>
        <label>descrição</label>
    </span>

    <span class="p-float-label activity-item">
        <p-inputNumber [(ngModel)]="value" [maxFractionDigits]="2" [minFractionDigits]="2" id="value"
                       inputId="minmaxfraction" mode="decimal"/>
        <label>valor</label>
    </span>

    <span class="p-float-label activity-item">
        <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" id="date"/>
        <label>{{type ? "Recebido em" : "Data de pagamento"}}</label>
    </span>

    <ng-container *ngIf="!type">
       <span class="p-float-label activity-item">
            <p-dropdown [(ngModel)]="category" [options]="categories" id="category"
                        placeholder="Selecione um Categoria"></p-dropdown>
            <label>Categoria</label>
       </span>

        <span class="p-float-label activity-item">
            <p-dropdown [(ngModel)]="method" [options]="getMethods()" id="method"
                        placeholder="Selecione um metodo de pagamento"></p-dropdown>
            <label>Metodo de pagamento</label>
        </span>
    </ng-container>

    <ng-container *ngIf='method == "Cartão de Credito"'>
        <span class="p-float-label activity-item">
            <p-inputNumber [(ngModel)]="actualParcel" [showButtons]="true" buttonLayout="horizontal"
                           decrementButtonClass="p-button-secondary" decrementButtonIcon="pi pi-minus" incrementButtonClass="p-button-secondary"
                           incrementButtonIcon="pi pi-plus" inputId="horizontal"
                           spinnerMode="horizontal"></p-inputNumber>
            <label>Parcela Atual</label>
        </span>
        <span class="p-float-label activity-item">
            <p-inputNumber [(ngModel)]="totalParcel" [showButtons]="true" buttonLayout="horizontal"
                           decrementButtonClass="p-button-secondary" decrementButtonIcon="pi pi-minus" incrementButtonClass="p-button-secondary"
                           incrementButtonIcon="pi pi-plus" inputId="horizontal"
                           spinnerMode="horizontal"></p-inputNumber>
            <label>Parcela Total</label>
        </span>
    </ng-container>

    <p-button label="Submit" icon="pi pi-check" iconPos="right" (click)="submit()"></p-button>

</div>
