.value{
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  justify-content: space-between;
  align-content: center;
  height: 130px
}

.header{
  margin-bottom: 10px;
  font-weight: bold;
}

.chart{
    width: 70%;
    margin: 3px;
    z-index: 1000;
}
