.mini-text {
    font-size: 0.8rem;
}

.form-components{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.forgot-button{
    font-size: 0.8rem;
}