/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


// variaveis globais
html{
    font-family: Poppins, sans-serif;
}

body{
    margin: 0;
    overflow: hidden;
    background-color: #1e1e1e
}


// classes globais
.flex-row{
    display: flex;
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.pad0{
    padding: 0!important;
}

.w-100{
    width: 100%;
}

.right{
    float: inline-end;
}

.error-message{
    color: red;
    font-size: 0.8rem;
    margin: 1px 5px;
}

.hidden-scroll{
    overflow: hidden;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.shade-card{
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20);
}

//overwrite do primeng
.p-card{
    height: 100%!important;
    padding: 0;
}

.p-card-body{
    padding: 0;
    margin: 0;
}

.p-card-content{
    padding: 0;
}

.p-divider{
    margin: 0;
}

.p-dropdown{
    width: 100%;
}


//overwrite do primeng custom

.submit-button .p-button{
    width: 100%!important;
    padding: 6px;
}

.forgot-button .p-button{
    float: inline-end;
    font-size: 0.7rem;
    padding: 0;
    padding-top: 4px;
}


//scroll

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(30, 30, 30, 0.51);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(40, 30, 30, 0.81);
}
