.sidebar{
    width: 70px;
    overflow: hidden;
    height: 100vh!important; 
    background-color: #1e1e1e;
}

.menu{
    display: flex!important;
    flex-direction: column!important;
    width: 70px;
}

.menuItem{
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.menuIcon{
    font-size: 1.5rem
}

.logo{
    width: 70px!important;
    height: 55px!important;
    padding: 5px 13px;
    background-color: #223188;
}