<div class="dashboard-body">
    <div class="content wrapper">
        <app-dashboard-header [user]=user [date]=date class="header shade-card"/>
        <div style="width: 98%; height: 80px; background-color: rgb(58, 185, 122);margin: 10px; margin-bottom: 0;"></div>
        <div style="width: 60%;">
            <div class="wrapper" style="justify-content: space-between; margin: 10px; margin-right: 0;">
                <div style="width: 30%; height: 150px; background-color: black;min-width: 100px;"></div>
                <div style="width: 30%; height: 150px; background-color: gold;min-width: 100px;"></div>
                <div style="width: 30%; height: 150px; background-color: greenyellow;min-width: 100px;"></div>
            </div>

            <div style="width: 99%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
            </div>
            <div style="width: 99%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
            </div>
        </div>
        <div style="width: 38%; height: 1000px; background-color: black;min-width: 500px; margin: 10px;"></div>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
    </div>
</div>
