<div class="dashboard-body">
    <div class="content wrapper">
        <app-dashboard-header [user]=user [date]=date class="header shade-card"/>
        <app-dashboard-date-picker (dateOut)="updateDate($event)" class="date-picker shade-card"/>
        <div style="width: 60%;">
            <div class="wrapper" style="justify-content: space-between; margin: 10px; margin-right: 0;">
                <app-dashboard-resume class="shade-card income" [values]="content.resumes.incomes" [title]="'Income'" [year]="date.getFullYear().toString()" [month]="date.toLocaleString('default', { month: 'short' })"/>
                <app-dashboard-resume class="shade-card income" [values]="content.resumes.expenses" [title]="'Expense'" [year]="date.getFullYear().toString()" [month]="date.toLocaleString('default', { month: 'short' })"/>
                <app-dashboard-resume class="shade-card income" [values]="content.resumes.balances" [title]="'Balance'" [year]="date.getFullYear().toString()" [month]="date.toLocaleString('default', { month: 'short' })"/>

                <!--                <app-dashboard-resume class="shade-card income" [values]="balanceArray" [title]="resumes[2]" [year]="date.getFullYear().toString()" [month]="date.toLocaleString('default', { month: 'short' })"/>-->
            </div>

            <app-dashboard-income-vsexpense [incomes]="content.charts.incomeXexpense.incomes" [expenses]="content.charts.incomeXexpense.expenses"/>
            <div style="width: 99%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
            category expense showdown
            </div>
        </div>
        <app-dashboard-timeline class="timeline shade-card" [activities]="content.timeline"/>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
    </div>
</div>
