<div class="dashboard-body">
    <div class="content wrapper">
        <app-dashboard-header [user]=user [date]=date class="header shade-card"/>
        <app-dashboard-date-picker (dateOut)="updateDate($event)" class="date-picker shade-card"/>
        <div style="width: 60%;">
            <div class="wrapper" style="justify-content: space-between; margin: 10px; margin-right: 0;">
                <app-dashboard-resume class="shade-card income"/>
                <app-dashboard-resume class="shade-card income"/>
                <app-dashboard-resume class="shade-card income"/>
            </div>

            <div style="width: 99%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
            chart income vs expense
            </div>
            <div style="width: 99%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
            category expense showdown
            </div>
        </div>
        <div style="width: 38%; height: 1000px; background-color: black;min-width: 500px; margin: 10px;">timeline</div>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 49%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
        <div style="width: 48%; height: 415px; background-color: rgb(58, 185, 122);min-width: 500px;margin: 10px;">
        </div>
    </div>
</div>
