.date-picker .MuiOutlinedInput-notchedOutline {
    border: none !important;
}

.MuiInputBase-input .MuiOutlinedInput-input .MuiInputBase-inputAdornedEnd {
    width: 80px;
}

/* scroll */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(30, 30, 30, 0.51);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(40, 30, 30, 0.81);
}

/* Correções do css material */
.description-input-space .MuiInputBase-input {
    padding-right: 60px;
}

.date-picker-dashboard .MuiInputBase-input {
    color: white !important;
}

.date-picker-dashboard .MuiButtonBase-root {
    color: white !important;
}

.theme-dinamic .MuiOutlinedInput-notchedOutline {
    border-color: #ffffff2c;
}

.theme-dinamic .MuiInputBase-input {
    color: white !important;
}

.theme-dinamic .MuiFormLabel-root {
    color: white !important;
}

.theme-dinamic .MuiTypography-root {
    color: white !important;
}

.theme-dinamic .MuiPickersDay-root {
    color: white !important;
}

.theme-dinamic .MuiSvgIcon-root {
    color: white !important;
}

.theme-dinamic .MuiTablePagination-displayedRows {
    color: white !important;
}

.theme-dinamic .MuiTablePagination-selectLabel {
    color: white !important;
}
