<div class="flex-row picker-body" id="picker-body" >
    <ng-template [ngForOf]="dates" let-item ngFor>
      <p-button (click)="setDate(item)" *ngIf="!dateComparator(item)" [text]="true" class="shade-card  item-button">
        <div class="item">
          <div>{{item.toLocaleString('default', {month: 'short'}).slice(0, 3)}}</div>
          <div>{{item.getFullYear()}}</div>
        </div>
      </p-button>
      <p-button *ngIf="dateComparator(item)" [outlined]="true" class="shade-card  item-button" id="selected">
        <div class="item">
          <div>{{item.toLocaleString('default', {month: 'short'}).slice(0, 3)}}</div>
          <div>{{item.getFullYear()}}</div>
        </div>
      </p-button>
    </ng-template>

</div>
