.value {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    align-content: center;
    height: 130px;
    width: 100%;
}

.header {
    margin-bottom: 10px;
    font-weight: bold;
    justify-content: space-evenly;
}

.chart {
    width: 70%;
    margin: 3px;
    z-index: 1000;
}
